{% extends 'base.twig' %}

{% block title %}Coming Soon | {{ site_name }}{% endblock %}

{% block content %}
    <div class="text-center py-20">
        <h1 class="text-4xl text-white mb-4">{{ site_name }}</h1>
        <p class="text-white/50 text-lg">{{ message }}</p>
    </div>
{% endblock %}
